<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
    <body>
        <div class="container-home-page">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>
            <button class="my-button-start">
                <a href="/createsheet">New Sheet</a>
            </button>
        </div>
        <div class="div-table">
            <table class="list-table">
                <tr>
                    <th>Sheet name</th>
                    <th>Creation date</th>
                    <th>Action (open)</th>
                    <th>Action (delete)</th>
                    <th>Action (share)</th>                
                </tr>
                <% all.forEach(function (item) { %>
                <tr>
                    <td> <%= item.sheetname %> </td>
                    <td> <%= item.dateCreated %> </td>
                    <td> <button class="my-button-action-open">
                        <a href="/sheet/<%= item.sheetcontentid %> ">Open</a>
                    </button> </td>
                    <td> <button class="my-button-action-open" onclick="deleteFile('<%= item._id %>')">
                        <a href="/sheets">Delete</a>
                    </button> </td>
                    <td> <button class="my-button-action-open">
                        <a href="/members/<%= item.sheetcontentid %>">Share</a>
                    </button> </td>
                </tr>
                <% }) %>
               
            </table>
        </div>
            <ul>
            </ul>
    <script>
        function deleteFile(fileId) {
            if (confirm('Vous voulez supprimer ce fichier ?')) {
                fetch(`/deleteSheet/${fileId}`, { method: 'DELETE' })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error('Network response was not ok.');
                    })
                    .then(data => {
                        console.log('File deleted:', data);
                        //window.location.href = '/sheets';// redirect vers/sheets
                    })
                    .catch(error => console.error('Error deleting file:', error));
            }
        }
    </script>
    </body>
</html>
